
@font-face {font-family: "iconfont";
  src: url('http://at.alicdn.com/t/font_fdcmw8vtp3hxgvi.eot?t=1487426831083'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_fdcmw8vtp3hxgvi.eot?t=1487426831083#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_fdcmw8vtp3hxgvi.woff?t=1487426831083') format('woff'), /* chrome, firefox */
  url('http://at.alicdn.com/t/font_fdcmw8vtp3hxgvi.ttf?t=1487426831083') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_fdcmw8vtp3hxgvi.svg?t=1487426831083#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-china:before { content: "\e609"; }

.icon-remove-copy:before { content: "\e60e"; }

.icon-city:before { content: "\e61c"; }

.icon-quyudaili:before { content: "\e618"; }

.icon-checkbox_selected:before { content: "\e662"; }
.iconfont {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:before {
  display: block;
  font-family: "iconfont" !important;
}
.iconfont-edit:before {
  content: "&#xe618;";
}
.ct-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
.ct-checkbox-wrapper:hover .ct-checkbox .ct-checkbox-inner,
.ct-checkbox:hover .ct-checkbox-inner,
.ct-checkbox-focused .ct-checkbox-inner {
  border-color: #108ee9;
}
.ct-checkbox-wrapper:hover span{
   color: #2db7f5;
}
.ct-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.ct-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(0);
      -ms-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.ct-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.ct-checkbox-indeterminate .ct-checkbox-inner:after {
  content: ' ';
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  position: absolute;
  left: 2px;
  top: 5px;
  width: 8px;
  height: 1px;
}
.ct-checkbox-checked .ct-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(1);
      -ms-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.ct-checkbox-checked .ct-checkbox-inner,
.ct-checkbox-indeterminate .ct-checkbox-inner {
  background-color: #108ee9;
  border-color: #108ee9;
}
.ct-checkbox-disabled.ct-checkbox-checked .ct-checkbox-inner:after {
  -webkit-animation-name: none;
          animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.ct-checkbox-disabled .ct-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f3f3f3;
}
.ct-checkbox-disabled .ct-checkbox-inner:after {
  -webkit-animation-name: none;
          animation-name: none;
  border-color: #f3f3f3;
}
.ct-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.ct-checkbox-wrapper {
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
}
.ct-checkbox-on {
  color: #2db7f5;
}
.ct-checkbox-wrapper:not(:last-child) {
  margin-right: 8px;
}
.ct-checkbox-wrapper + span,
.ct-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
}
.ct-checkbox-group {
  font-size: 12px;
}
.ct-checkbox-group-item {
  display: inline-block;
}
@media \0screen {
  .ct-checkbox-checked .ct-checkbox-inner:before,
  .ct-checkbox-checked .ct-checkbox-inner:after {
    font-family: 'iconfont';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E632";
    font-weight: bold;
    font-size: 8px;
    border: 0;
    color: #fff;
    left: 2px;
    top: 3px;
    position: absolute;
  }
}
.area-box-content {
  position: relative;
  min-height: 50px;
  margin-top: 20px;
  padding: 17px 16px 15px 20px;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #e9e9e9;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  width: 100%;
  font-size: 12px;
}
.area-box {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0px 0 16px 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.area-box:target {
  border: 1px solid rgba(16, 142, 233, 0.7);
  z-index: 10;
}
.area-box-title {
  position: absolute;
  top: -14px;
  padding: 1px 8px;
  margin-left: -8px;
  color: #777;
  border-radius: 4px;
  border-top-left-radius: 0;
  background: #fff;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.area-box .area-box-title a,
.area-box .area-box-title a:hover {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 500;
}
.area-box-body {
  overflow: hidden;
}
.area-box-item { width: 20%; float: left; }
.area-box {
  border-bottom: 1px solid #e9e9e9;
  padding: 42px 20px 50px;
}
.ct-select-selection__choice {
  background-color: #f3f3f3;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 4px;
  margin-top: 4px;
  max-width: 99%;
  position: relative;
  overflow: hidden;
  -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0 20px 0 10px;
}
.ct-select-selection__rendered {
  display: block;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  line-height: 26px;
}
.ct-select-selection__rendered:after {
  content: '.';
  visibility: hidden;
  pointer-events: none;
  display: inline-block;
  width: 0;
}
.ct-select-selection__rendered li {
  height: 24px;
  line-height: 24px;
}
.ct-select-selection__choice__remove {
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.43);
  line-height: inherit;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  font-size: 12px;
  font-size: 8px \9;
  -webkit-transform: scale(0.66666667) rotate(0deg);
      -ms-transform: scale(0.66666667) rotate(0deg);
          transform: scale(0.66666667) rotate(0deg);
  /* IE6-IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  position: absolute;
  right: 4px;
  padding: 0 0 0 8px;
}
.ct-select-selection__choice__remove:before {
  display: block;
  font-family: "iconfont" !important;
}
.ct-select-selection__choice__remove:hover {
  color: #404040;
}
.ct-select-selection__choice__remove:before {
  content: "\e60e";
}
.ct-select-selection__choice__content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  -webkit-transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}