<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>addressmap</title>
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/theme.css" rel="stylesheet"><!-- 
    <link rel="stylesheet" type="text/css" href="area.css"> -->
  </head>
  <body>
    <div id="app"></div>
    <script src="http://static.tcy365.com/cdn/jquery/2.1.0/jquery.js"></script>
    <script src="http://static.tcy365.com/cdn/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://static.tcy365.com/cdn/component/popover-confirm/1.2.0/popover-confirm-umd.js"></script>
    <script src="http://static.tcy365.com/cdn/component/miniMsg/1.3.0/src/js/miniMsg-umd.js"></script>
    <script src="http://static.tcy365.com/cdn/webuploader/0.1.5/webuploader.html5only.js"></script>
    <script src="http://static.tcy365.com/cdn/component/jdpicker/1.0.1/jdpicker.js"></script>
    <script src="http://static.tcy365.com/cdn/component/area/2.0.0/area.min.js"></script>
    <script src="../asset/js/index.bundle.js"></script>
  </body>
</html>
